.dictionarySelect {
    width: 170px;
}

.tableRow {
}

.apiLinkIcon {
    margin-top: -4px;
    font-size: 16px;
}

.searchInfoIconLink {
    margin-left: -2px;
    cursor: help;
}

.searchInfoIcon {
    margin-bottom: -2px;
    font-size: 20px;
}

.search {
    width: 242px;
    align-self: flex-start;
}
