.page {
    //min-width: 400px;
    //overflow-x: auto;
}

.dictionarySelect {
    width: 170px;
}

.tableRow {
}

.apiLinkIcon {
    margin-top: -4px;
    font-size: 16px;
}

.searchInfoIconLink {
    margin-left: -2px;
    cursor: help;
}

.searchInfoIcon {
    margin-bottom: -2px;
    font-size: 20px;
}

.search {
    width: 242px;
    align-self: flex-start;
}

.searchTipContainer {
    min-width: 240px;
}

.dataContainer {
    :global(.ant-table) {
        max-width: 100%;
        overflow-x: auto;
    }
}

.whiteText * {
    color: white !important;

    &:global(.ant-typography-secondary) {
        opacity: 0.8;
        font-size: 0.75rem;
    }
}
