.sideMenuDrawer {
}

.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    .logo {
        .logoText {
            color: white;
            font-size: 18px;
            font-family: var(--readex-pro);
        }
    }

    .menuButton {
        color: white;
    }

    .search {
        margin-top: -3px;
    }
}
