@import '../../../../styles/main';

.AppHeader__side-menu-drawer {
    .ant-drawer-header {
        &.ant-drawer-header-close-only {
            padding-right: 4px;
        }

        .ant-drawer-header-title {
            justify-content: flex-end;
        }
    }
}

.AppHeader__theme-switch {
    @include themeDark {
        .ant-switch-handle:before {
            background-color: #f0f0f0;
        }
    }
}
