@import '../../styles/main';

.container {
    .outputModeComboBox {
        width: 100px;
    }

    .textarea {
        @include monacoBackground;
    }

    .valueContainer {
        flex: 1;
    }

    .codeContainer {
        flex: 4;

        .codeEditorContainer {
            & > *:last-child {
                flex: 1;
            }

            .codeEditor {
                border-radius: 2px;
                border: 1px solid;
                flex: 1;

                @include borderColor;

                & * {
                    transition: none !important;
                }
            }
        }
    }

    .resultContainerWrapper {
        flex: 1;
        min-height: 16.5vh;

        .resultContainer {
            flex: 1;
        }
    }
}
