@import '../../styles/main';

.container {
    .outputModeComboBox {
        width: 100px;
    }

    .textarea {
        @include monacoBackground;
    }

    .codeEditor {
        border-radius: 2px;

        border: 1px solid;

        @include borderColor;

        & * {
            transition: none !important;
        }
    }
}
