.outputModeComboBox {
    width: 100px;
}

.codeEditor {
    border-radius: 2px;

    border: 1px solid #d9d9d9;

    & * {
        transition: none !important;
    }

    &.codeEditorDark {
        border-color: rgb(67, 67, 67);
    }
}
