@import '../../styles/main';

.page {
    @include monacoBackground;

    .container {
        display: flex;
        flex-direction: column;
        height: 100%;
        width: 100%;

        .controlsContainer {
            padding: 0 15px 0.75rem;
            border-bottom: 1px solid;
            @include borderColor;

            .formatContainer {
                gap: 8px;

                .languageSelect {
                    flex: 1;
                }
            }
        }

        .editor {
            height: 99%;
        }
    }
}
