@import '../../../../styles/main';

.container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;

    flex-direction: column;

    @include mediaSM {
        padding: 8px;
        flex-direction: row;
    }
}
