@import '../../styles/main';

.forkMeOnGitHub {
    position: absolute;
    right: 0;
    z-index: 999;
    display: none;

    @include mediaMD {
        display: revert;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentContainer {
    flex: 1;
}

.footer {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -8px;
}

.helperTags {
    color: transparent;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.appInfoAlert {
    align-self: flex-start;
}

.pageSearch {
    max-width: 300px;
}
