@import '../../styles/main';

.githubButton {
    position: absolute;
    right: 0;
    z-index: 999;
    display: none;
    padding: 8px;
    margin: 7px 15px;
    border-radius: 100%;
    width: 42px;
    height: 42px;
    align-items: center;
    justify-content: center;

    @include mediaSM {
        display: flex;
    }

    background: white;
    box-shadow: 0 1px 8px 1px rgba(34, 60, 80, 0.2);

    @include themeDark {
        border: 1px solid rgba(127, 127, 127, 0.15);
        background: rgba(100, 100, 100, 0.2);
        box-shadow: none;

        & > svg > path {
            fill: #d0d0d0;
        }
    }

    .githubButtonIcon {
        width: 100%;
        height: 100%;
    }
}

.container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.contentContainer {
    flex: 1;
}

.footer {
    margin-left: -15px;
    margin-right: -15px;
    margin-bottom: -8px;
}

.helperTags {
    color: transparent;
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.appInfoAlert {
    align-self: flex-start;
}

.pageSearch {
    max-width: 300px;
}
