@import '../../styles/main';

.container {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

.formItem {
    display: flex;
    flex-direction: row;
    align-items: flex-start;

    .label {
        margin-top: 4px;

        width: 100px;
        @include mediaSM {
            width: 120px;
        }
    }

    .input {
        flex: 1;
    }
}

.verticalFormItem {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    .label {
        margin-bottom: 6px;
    }
}

.copyButton {
    align-self: flex-start;
    margin-top: -22px;
}
