.formContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.formItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: stretch;

    .label {
        width: 120px;
    }

    .input {
        flex: 1;
    }
}
