@import '../../styles/main';

.gutter {
    background-repeat: no-repeat;
    background-position: 50%;

    @include monacoBackground;
}

.gutter.gutter-horizontal {
    background-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==');
    cursor: col-resize;
    z-index: 1;

    border-right: 1px solid;
    border-left: 1px solid;
    @include borderColor;
}
