@import '../../styles/main';

.container {
    @include monacoBackground;

    .containerRow {
        height: 100%;
        display: flex;
        flex-direction: row;

        .col {
            display: flex;
            flex-direction: column;

            transition-property: flex-basis;
            transition-duration: 0.2s;

            &:only-child {
                flex: 1;
            }
        }

        .leftCol {
            &:not(:only-child) {
                border-right: 1px solid;
                @include borderColor;
            }

            .editorTabs {
                flex: 1;
                display: flex;

                & > *:last-child {
                    display: flex;
                }

                .editorTab {
                    flex: 1;
                    display: flex;

                    .editor {
                        flex: 1;
                    }
                }

                .tabTitleWrapper {
                    height: 20px !important;
                    width: 50px !important;

                    display: flex;
                    flex-direction: row;
                    justify-content: center;
                    align-items: center;

                    .tabTitle {
                        font-size: 28px;
                    }

                    .resultTabTitle {
                        font-size: 20px;
                    }
                }
            }
        }

        .rightCol {
            background: white;
        }

        .resultFrame {
            flex: 1;
            border: none;
            max-width: 100%;
            overflow: auto;
        }
    }
}
