@import '../../../../styles/main';

.container {
    .githubRepoLink {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 8px;
        padding-block: 12px;
    }

    .githubLogo {
        width: 20px;
        height: 20px;
    }

    .repoDescription {
        flex: 1;
    }
}
