.QrScannerPage_image-upload {
    & > .ant-upload {
        width: 128px;
        height: 128px;
    }
}

.QrScannerPage_image-thumb {
    .ant-image {
        max-width: 128px;
        max-height: 128px;

        margin-top: -7px;

        & > .ant-image-img {
            max-width: 128px;
            max-height: 128px;
        }
    }
}
