.imageUpload {
}

.uploadedImageThumb {
    .ant-image {
        max-width: 128px;
        max-height: 128px;

        & > .ant-image-img {
            max-width: 128px;
            max-height: 128px;
        }
    }
}
