$containerWidth: 290px;
$labelWidth: 130px;
$inputWidth: $containerWidth - $labelWidth;

.formContainer {
    display: flex;
    flex-direction: column;
    gap: 6px;

    width: $containerWidth;
    padding-bottom: 5px;
}

.title {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin-bottom: 0.25rem;

    .rightSide {
        margin-top: -6px;
        display: flex;
        flex-direction: row;
        gap: 10px;
    }
}

.formItem {
    display: flex;
    flex-direction: row;
    align-items: center;

    .label {
        width: $labelWidth;
    }

    .input {
        flex: 1;
        width: $inputWidth;
        max-width: $inputWidth;
    }
}
