@import '../../styles/main';

.overflowTest {
    padding: 8px 10px;
    overflow: auto;
    max-width: 100%;
    border-radius: 6px;

    background: rgba(0, 0, 0, 0.18);

    @include themeDark {
        background: rgba(255, 255, 255, 0.18);
    }

    .overflowTestContent {
        white-space: nowrap;
    }
}
