.resultImage {
    max-width: 500px;
    max-height: 500px;
    min-width: 50px;
    min-height: 50px;
}

.sizeButtonsContainer {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    row-gap: 6px !important;

    & > * {
        text-align: start;
    }
}
