.formItem {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 0.5rem;
    gap: 10px;

    & > div:first-child {
        width: 110px;
    }
}

.switchFormItem {
    align-self: flex-start;
}

.numericInput {
    width: 100%;
}

.qrCodeWrapper {
    padding: 10px;
    display: inline-block;
}
