@import '../../styles/main';

.timeContainer {
    font-family: var(--readex-pro);
    width: 12.4rem;
    align-self: center;

    @include mediaMD {
        align-self: flex-start;
    }

    .timeMain {
        font-size: 2.5rem;
        width: 10rem;
        min-width: 9.8rem;
    }

    .timeMs {
        font-size: 1.2rem;
        margin-top: 0.55rem;
    }
}
