.container {
    width: calc(100% - 15px);
    height: 100%;
    padding: 8px 0 8px 15px;
    display: flex;
    flex-direction: column;
    gap: 8px;

    &.noPadding,
    &.noContentPadding {
        padding: 0;
        width: 100%;
    }

    .headingContainer {
        width: 100%;
        justify-content: space-between;
    }

    .contentContainer {
        flex: 1;
    }

    &.noContentPadding {
        .headingContainer {
            padding: 8px 15px 0;
        }
    }
}
