.pageContainer {
    position: relative;

    .editor {
        flex: 1;
        height: 99%;
    }

    .plainEditor {
        border: none;
        resize: none;
        font-size: 15px;

        &:focus {
            box-shadow: none;
        }
    }

    .messageContainer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
