.pageContainer {
    position: relative;

    .editor {
        flex: 1;
        height: 99%;
    }

    .messageContainer {
        position: absolute;
        right: 0;
        bottom: 0;
        left: 0;
        width: 100%;
    }
}
